﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VSWebApp</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/VSWebApp.css" type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
    <script src="~/js/VSWebApp.js"></script> <!--Holds app logic-->
</head>
<body>

    <div class="body" style="min-height:95vh !important;">
        @RenderBody()
    </div>
    <footer class="py-5 bg-warning">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Bing Visual Search 2018</p>
        </div>
        <!-- /.container -->
    </footer>
</body>
</html>
